
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: gray;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}
#mainContainer {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;    
    width: 80vw;
    border: 1px solid black; 
    background-color: rgb(190, 156, 243);
}
#header {
    display: flex;
    align-items: center;
}
#pfp {
    height: 50px;
    width: 50px;
}
#section1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    height: 40%;
    border: 1px solid black;
}
.break {
    flex-basis: 100%;
    height: 0;
  }
#section2{
    display:flex;
    justify-content: space-between;
    width:100%;
}
#column1 {
    display: flex;
    flex-direction: column;
    flex-grow:2;
    flex-basis:0;
}

#column2 {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    flex-basis:0;
}
